absl-py==1.0.0
asgiref==3.4.1
astunparse==1.6.3
autopep8==1.6.0
cachetools==5.1.0
certifi==2022.5.18
charset-normalizer==2.0.12
click==8.1.3
cmake==3.22.4
colorama==0.4.4
cycler==0.11.0
distro==1.7.0
dj-database-url==0.5.0
Django==4.0.1
django-environ==0.8.1
django-filter==2.3.0
djangorestframework==3.13.1
dlib==19.22.99
docopt==0.6.2
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==2.1.2
flatbuffers==1.12
fonttools==4.33.3
gast==0.4.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.1
gunicorn==20.1.0
h5py==3.6.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
libclang==14.0.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
mysql==0.0.3
mysqlclient==2.1.0
numpy==1.22.3
oauthlib==3.2.0
opencv-contrib-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pipreqs==0.4.11
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-build==0.15.0
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
pyttsx3==2.90
termcolor==1.1.0
threadpoolctl==3.1.0
toml==0.10.2
typing_extensions==4.2.0
tzdata==2022.1
Unipath==1.1
urllib3==1.26.9
Werkzeug==2.1.2
whitenoise==5.3.0
wrapt==1.14.1
yarg==0.1.9
